body {
    color: #000000;
    font-family: Segoe UI, Tahoma, Arial;
    font-size: 11px;
    font-weight: normal;  
}

table.tablesorter {
    border-collapse: collapse;
    margin: 10px 0pt 15px;
    text-align: left;
    width: 100%;
}

    table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        border: 1px solid #FFF;
        border-bottom: 1px solid #A5ACB5;
        border-top: 1px solid #A5ACB5;
        border-right-width: 0px;
        border-left-width: 0px;
        padding: 4px;
    }

    table.tablesorter thead tr .header {
        background-image: url(bg.gif);
        background-position: center right;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        border-bottom: 1px solid #DBDEE1;
        vertical-align: top;
    }

    table.tablesorter tbody tr {
        border-bottom: 1px solid #DBDEE1;
    }

    table.tablesorter thead tr .headerSortUp {
        background-image: url(asc.gif);
    }

    table.tablesorter thead tr .headerSortDown {
        background-image: url(desc.gif);
    }

    table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    }

    table.tablesorter tbody tr:hover {
        background-color: #A7CDF0;
    }

#img-loadDiv {
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}

#img-loadText {
    margin-left: -18px;
    width: 88px;
}
