.ms-crm-HeaderTileElement{
    width:210px !important;
}

.ms-crm-Inline-GradientMask {
    clear:initial;
}

.ms-crm-Inline-Chrome money {
    text-align: right !important;
    color: black;
    display: block;

}

.ms-crm-ImageStrip-inlineedit_locked {
    clear:initial;
}