Inline style {
   table-layout: fixed;
}

.refresh-form table.pnl-ms-crm-FormSection {
    border-collapse: separate;
    border-spacing: 5px 0px;
    margin: 0;
}

table.pnl-ms-crm-FormSection {
    width: 100%;
}

table {
    cursor:default;
}

body {
    direction: ltr;
}

body, input, select, textarea, table.ms-crm-Loading, div.ms-crm-Grid-Title {
    font-family: Segoe UI,Tahoma,Arial;
    font-size: 11px;
}